* {
    padding: 0;
    margin: 0;
}

.style-script-regular {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}


header {
    margin-top: 40px;
}

header label {
    font-family: "Style Script";
    font-size: 45px;
    color: hotpink;
    margin: 100px 50px 10px;
}

header button img {
    width: 15px;
}

header button {
    width: 50px;
    height: 50px;
    margin: 10px 10px 10px;
    border: none;
    border-radius: 8px;
}

.container {
    margin: 40px 25% 50px;
}

.container h1 {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #111;
    margin-left: 10px;
    margin-bottom: 25px;
    text-align: center;
}

.container h4 {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 15px;
    color: #a7a2a2;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 60px 16% 10px;
}



.onclick    {
    width: 380px;
    height: 420px;
    /* border: 2px solid #f0ecec; */
    border: 2px solid #ff69b4;
    border-radius: 25px;
    margin: 30px 20px 20px;
}





.card-1 {
    width: 380px;
    height: 420px;
    border: 2px solid #2525251f;
    border-radius: 25px;
    margin: 30px 20px 20px;
}

.card-1 img {
    display: block;
    margin: -20px auto 10px;
    /* margin-top: -20px;
    margin-left: auto;
    margin-right: auto; */
    width: 300px;
}

.card-1 p {
    display: none;
    font-size: 18px;
    padding-top: 15px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #636161;
}

.card-1 .select {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #25252563;
    border-radius: 50px;
    margin: 25px 45% 10px;
    padding: 10px;
    background: #fff;
}


.select .tick{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-image: url(images/tick.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

}


.card-1 .content {
    padding: 10px 40px 10px;
}




.card-2 {
    width: 380px;
    height: 420px;
    border: 2px solid #2525251f;
    border-radius: 25px;
    margin: 30px 20px 20px;
}

.card-2 img {
    display: block;
    margin: -20px auto 10px;
    /* margin-top: -20px;
    margin-left: auto;
    margin-right: auto; */
    width: 300px;
}

.card-2 p {
    display: none;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #636161;
}

.card-2 .select {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #25252563;
    border-radius: 50px;
    margin: 25px 45% 10px;
    padding: 10px;
    background: #fff;
}


.select .tick{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-image: url(images/tick.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

}


.card-2 .content {
    padding: 10px 40px 10px;
}




.card-3 {
    width: 380px;
    height: 420px;
    border: 2px solid #2525251f;
    border-radius: 25px;
    margin: 30px 20px 20px;
}

.card-3 img {
    display: block;
    margin: -20px auto 10px;
    /* margin-top: -20px;
    margin-left: auto;
    margin-right: auto; */
    width: 300px;
}

.card-3 p {
    display: none;
    font-size: 18px;
    padding-top: 17px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: #636161;
}

.card-3 .select {
    position: relative;
    width: 15px;
    height: 15px;
    border: 1px solid #25252563;
    border-radius: 50px;
    margin: 25px 45% 10px;
    padding: 10px;
    background: #fff;
}


.select .tick{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-image: url(images/tick.png);
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;

}


.card-3 .content {
    padding: 10px 40px 10px;
}

.content h2 {
    font-size: 25px;
    text-align: center;
}


.nextbtn{
    display: flex;
    flex-direction: column;
    margin: 10px auto 10px;
}

.nextbtn h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin: 30px auto 10px;
}

.nextbtn button {
    width: 200px;
    height: 40px;
    margin: 30px auto 20px;
    justify-content: center;
    color: #fff;
    background-color: #E84393;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    border: none;
    border-radius: 8px;
}

.nextbtn button a{
    text-decoration: none;
    color: white;
}







@media screen and (min-width: 320px) and (max-width: 324px){



    .container {

        margin-top: 30px;
        margin-left: 50px;
        margin-bottom: 10px;
        /* text-align: center; */

    }

    .container h1 {
        font-size: 27px;
        margin-left: 10px;
        margin-bottom: 25px;
        text-align: center;
    }

    .container h4 {
        font-size: 17px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        margin: 15px -8px 15px;
    }
    
}




@media screen and (min-width: 325px) and (max-width: 375px){



    .container {

        margin-top: 30px;
        margin-left: 65px;
        margin-bottom: 10px;
        /* text-align: center; */

    }

    .container h1 {
        font-size: 28px;
        margin-left: 10px;
        margin-bottom: 25px;
        text-align: center;
    }

    .container h4 {
        font-size: 19px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 30px 10px 15px;
    }
    
}



@media screen and (min-width: 376px) and (max-width: 425px){



    .container {

        margin-top: 30px;
        margin-left: 80px;
        margin-bottom: 10px;
        /* text-align: center; */

    }

    .container h1 {
        font-size: 30px;
        margin-left: 10px;
        margin-bottom: 25px;
        text-align: center;
    }

    .container h4 {
        font-size: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
        text-align: center;
    }

    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 40px 0px 15px;
    }
    
}









