* {
    padding: 0;
    margin: 0;
}

.style-script-regular {
    font-family: "Style Script", cursive;
    font-weight: 400;
    font-style: normal;
}

.content {
    display: flex;
    flex-wrap: wrap;
}

.webart {
    width: 30%;
    height: 100vh;
    background-color: rgb(252, 216, 119);
}


.webart h2 {
    font-size: 35px;
    font-family: "Style Script";
    color: rgb(172, 131, 69);
    margin-top: 50px;
    margin-left: 50px;
}


.webart h3 {
    font-size: 35px;
    color: rgb(126, 93, 45);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 50px;
    margin-top: 25px;
}

.webart img {
    display: block;
    width: 500px;
    margin-left: 70px;
    padding-left: 35px;
    margin-top: 120px;
}

.webart h6 {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(172, 131, 69);
    margin-top: 200px;
    margin-left: 50px;
}

.webart a {
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(172, 131, 69);
    margin-left: 3px;
}




/* SIGN UP FORM */

.main-form {
    width: 70%;
    height: 100vh;
    background-color: #fff;
}

.main-form h5 {
    float: right;
    margin: 20px 15px 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-form a {
    text-decoration: none;
}

.main-form form {
    margin: 5px;
    padding: 80px 300px 280px;
}

.main-form form h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #111;
    padding-bottom: 35px;
    margin-left: 100px;
}

.error {
    margin-left: 100px;
    margin-bottom: 40px;
}

.error li{
    color: rgb(228, 79, 79);
}

.main-form .login label {
    font-weight: bold;
    font-size: 15px;
    margin-left: 100px;
    font-family: Arial, Helvetica, sans-serif;
}


.main-form .login input {
    position: relative;
    display: flex;
    width: 350px;
    height: 28px;
    padding: 5px;
    border: none;
    border-radius: 6px;
    background-color: #f5f5f5;
    margin-top: 5px;
    margin-left: 100px;
    margin-bottom: 40px;
}


.main-form .checkbox {
    margin-left: 100px;
    margin-top: -10px;
}

.main-form .checkbox label {
    margin-left: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;
    background-color: #f5f5f5;
}

.main-form .checkbox a {
    color: rgb(124, 139, 226);
}

.main-form button {
    width: 180px;
    height: 50px;
    color: #fff;
    font-size: 17px;
    background-color: hotpink;
    border: none;
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 100px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-form button a{
    text-decoration: none;
    color: white;
}

.main-form .foot {
    margin-top: 30px;
    margin-left: 100px;
}

.foot label {

    font-size: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: lighter;

}

.foot label a {

    color: rgb(124, 139, 226);
}




@media screen and (min-width: 1600px) and (max-width: 1920px) {

    .webart h4 {
        font-size: 20px;
    }

    .webart h3 {
        font-size: 35px;
    }

    .webart img {
        display: block;
        width: 450px;
        margin-left: 35px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 290px;
        margin-left: 50px;
    }



    .main-form form {
        margin: 5px;
        padding: 80px 210px 230px;
    }



}


@media screen and (min-width: 1366px) and (max-width: 1600px) {

    .webart h4 {
        font-size: 18px;
    }

    .webart h3 {
        font-size: 30px;
    }

    .webart img {
        display: block;
        width: 360px;
        margin-left: 35px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 190px;
        margin-left: 50px;
    }


    .main-form form {
        margin: 5px;
        padding: 80px 150px 10px;
    }

}


@media screen and (min-width: 1280px) and (max-width: 1366px) {

    .webart h4 {
        font-size: 18px;
    }

    .webart h3 {
        font-size: 30px;
    }

    .webart img {
        display: block;
        width: 330px;
        margin-left: 35px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 170px;
        margin-left: 50px;
    }


    .main-form form {
        margin: 5px;
        padding: 80px 100px 10px;
    }

}


@media screen and (min-width: 1152px) and (max-width: 1280px) {

    .webart h4 {
        font-size: 18px;
    }

    .webart h3 {
        font-size: 25px;
    }


    .webart img {
        display: block;
        width: 290px;
        margin-left: 35px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 190px;
        margin-left: 50px;
    }


    .main-form form {
        margin: 5px;
        padding: 80px 100px 10px;
    }

}


@media screen and (min-width: 800px) and (max-width: 1152px) {


    .webart h4 {
        font-size: 15px;
        margin-left: 30px;
    }

    .webart h3 {
        font-size: 19px;
        margin-left: 30px;
    }

    .webart img {
        display: block;
        width: 200px;
        margin-left: 30px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 280px;
        margin-left: 30px;
    }


    .main-form form {
        margin: 5px;
        padding: 80px 0px 10px;
    }

}



@media screen and (min-width: 320px) and (max-width: 374px) {


    .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .webart {
        width: 100%;
        height: 150px;
        margin: 0;
        text-align: center;
    }

    .webart h4 {
        margin: 15px 0 0;
        font-size: 25px;
    }

    .webart h2{
        font-size: 50px;
        text-align: center;
        margin: 20px auto 0px;
    }


    .webart h3 {
        font-size: 20px;
        margin: 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }

    .webart img {
        width: 200px;
        margin: 0;
        display: none;
    }

    .webart h6 {
        margin: 0;
        display: none;
    }






    .main-form {
        width: 320px;
        background-color: #fff;
    }

    .main-form h5 {
        float: left;
        margin: 15px 80px 5px;
        font-size: 12px;
    }



    .main-form form {
        margin: 5px;
        padding: 20px 30px 20px;
    }

    .main-form form h3 {
        font-size: 22px;
        margin: 15px 0px 0px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }

    .main-form .error {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .main-form .error label {
        display: none;
        color: rgb(212, 130, 130);
    }

    .main-form form .name {
        display: flex;
        flex-wrap: wrap;
    }

    .main-form form .name label,
    .info label {
        font-weight: bold;
        font-size: 13px;
        margin-left: 25px;
    }


    .main-form form .name input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }


    .main-form form .info input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .main-form .checkbox {
        margin-left: 25px;
        margin-top: 0px;
    }


    .main-form .checkbox label {
        margin-left: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 15px;
    }

    .main-form .checkbox a {
        color: rgb(124, 139, 226);
    }

    .main-form form button {
        width: 180px;
        height: 50px;
        color: #fff;
        font-size: 17px;
        background-color: hotpink;
        border: none;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .main-form form .foot {
        margin-top: 30px;
        margin-left: 10px;
    }

    .main-form form .foot label {

        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;

    }

    .main-form form .foot label a {

        color: rgb(124, 139, 226);
    }
}



@media screen and (min-width: 375px) and (max-width: 425px){




    .content {
        width: auto;
        display: flex;
        justify-content: space-around;
    }

    .webart {
        width: 100%;
        height: 150px;
        margin: 0;
        text-align: center;
    }

    .webart h4 {
        margin: 15px 0 0;
        font-size: 25px;
    }

    .webart h2{
        font-size: 50px;
        text-align: center;
        margin: 20px auto 0px;
    }

    .webart h3 {
        font-size: 20px;
        margin: 0px;
    }

    .webart img {
        width: 200px;
        margin: 0;
        visibility: hidden;
    }

    .webart h6 {
        margin: 0;
        display: none;
    }






    .main-form {
        width: 320px;
        background-color: #fff;
    }

    .main-form h5 {
        text-align: center;
        margin: 20px 80px 0px 0px;
        font-size: 12px;
    }



    .main-form form {
        margin: 5px;
        padding: 20px 0 20px;
        justify-content: space-around;
    }

    .main-form form h3 {
        font-size: 25px;
        margin: 15px 0px 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }

    .main-form .error {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .main-form .error label {
        display: none;
        color: rgb(212, 130, 130);
    }

    .main-form form .name {
        display: flex;
        flex-wrap: wrap;
    }

    .main-form form .name label,
    .info label {
        font-weight: bold;
        font-size: 13px;
        margin-left: 25px;
    }


    .main-form form .name input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }


    .main-form form .info input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .main-form .checkbox {
        margin-left: 25px;
        margin-top: 0px;
    }


    .main-form .checkbox label {
        margin-left: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 15px;
    }

    .main-form .checkbox a {
        color: rgb(124, 139, 226);
    }

    .main-form form button {
        width: 180px;
        height: 50px;
        color: #fff;
        font-size: 17px;
        background-color: hotpink;
        border: none;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .main-form form .foot {
        margin-top: 30px;
        margin-left: 10px;
    }

    .main-form form .foot label {

        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;

    }

    .main-form form .foot label a {

        color: rgb(124, 139, 226);
    }

}








@media screen and (min-width: 425px) and (max-width: 768px){




    .content {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .webart {
        width: 100%;
        height: 150px;
        margin: 0;
        text-align: center;
    }

    .webart h4 {
        margin: 15px 0 0;
        font-size: 25px;
    }

    .webart h2{
        font-size: 50px;
        text-align: center;
        margin: 20px auto 0px;
    }

    .webart h3 {
        font-size: 20px;
        margin: 0px;
    }

    .webart img {
        width: 200px;
        margin: 0;
        visibility: hidden;
    }

    .webart h6 {
        margin: 0;
        display: none;
    }






    .main-form {
        width: 320px;
        background-color: #fff;
    }

    .main-form h5 {
        text-align: center;
        margin: 20px 80px 0px 0px;
        font-size: 12px;
    }



    .main-form form {
        margin: 5px;
        padding: 20px 0 20px;
        justify-content: space-around;
    }

    .main-form form h3 {
        font-size: 25px;
        margin: 15px 0px 10px;
        padding-right: 0px;
        padding-bottom: 10px;
        text-align: center;
    }

    .main-form .error {
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .main-form .error label {
        display: none;
        color: rgb(212, 130, 130);
    }

    .main-form form .name {
        display: flex;
        flex-wrap: wrap;
    }

    .main-form form .name label,
    .info label {
        font-weight: bold;
        font-size: 13px;
        margin-left: 25px;
    }


    .main-form form .name input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }


    .main-form form .info input {
        display: flex;
        width: 180px;
        height: 20px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 25px;
        margin-bottom: 15px;
    }

    .main-form .checkbox {
        margin-left: 25px;
        margin-top: 0px;
    }


    .main-form .checkbox label {
        margin-left: 5px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;
        font-size: 15px;
    }

    .main-form .checkbox a {
        color: rgb(124, 139, 226);
    }

    .main-form form button {
        width: 180px;
        height: 50px;
        color: #fff;
        font-size: 17px;
        background-color: hotpink;
        border: none;
        border-radius: 5px;
        margin-top: 30px;
        margin-left: 25px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    }

    .main-form form .foot {
        margin-top: 30px;
        margin-left: 10px;
    }

    .main-form form .foot label {

        font-size: 15px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-weight: lighter;

    }

    .main-form form .foot label a {

        color: rgb(124, 139, 226);
    }

}


@media screen and (min-width: 769px) and (max-width: 1023px) {


    .webart h4 {
        font-size: 15px;
        margin-left: 30px;
    }

    .webart h3 {
        font-size: 19px;
        margin-left: 30px;
    }

    .webart img {
        display: block;
        width: 200px;
        margin-left: 30px;
        margin-top: 100px;
    }

    .webart h6 {
        font-size: 11px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: rgb(172, 131, 69);
        margin-top: 280px;
        margin-left: 30px;
    }


    .main-form form {
        margin: 5px;
        padding: 80px 0px 10px;
    }


    .main-form .login label {
        font-weight: bold;
        font-size: 15px;
        margin-left: 100px;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    
    .main-form .login input {
        position: relative;
        display: flex;
        width: 350px;
        height: 28px;
        padding: 5px;
        border: none;
        border-radius: 6px;
        background-color: #f5f5f5;
        margin-top: 5px;
        margin-left: 100px;
        margin-bottom: 40px;
    }

}









